In [35]:
from getData import get_data
from technical_indicator import calculate_LR, calculate_rsi
from Returns import cummulative_returns
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:


data=get_data('RELIANCE.NS', '2022-01-01')

print(data)
type(data)

[*********************100%%**********************]  1 of 1 completed

                   Open         High          Low        Close    Adj Close  \
Date
2022-01-03  1091.447144  1111.268555  1090.777954  1109.376343  1086.997681
2022-01-04  1114.937500  1135.751099  1109.445557  1134.412720  1111.529175
2022-01-05  1136.212646  1143.135132  1122.806030  1139.719971  1116.729492
2022-01-06  1131.228394  1132.520630  1111.753052  1115.214355  1092.718018
2022-01-07  1121.883057  1134.389648  1112.929932  1124.213623  1101.535767
...                 ...          ...          ...          ...          ...
2025-02-10  1264.500000  1266.500000  1245.550049  1253.650024  1253.650024
2025-02-11  1264.550049  1264.550049  1230.099976  1234.849976  1234.849976
2025-02-12  1219.449951  1226.900024  1193.349976  1216.550049  1216.550049
2025-02-13  1217.050049  1228.000000  1212.000000  1216.099976  1216.099976
2025-02-14  1219.000000  1224.000000  1205.449951  1217.250000  1217.250000

              Volume
Date
2022-01-03   5421611
2022-01-04  10847728
2022-01-05  11643813
2022-01-06  14447422
2022-01-07  13112115
...              ...
2025-02-10   6970972
2025-02-11   8859714
2025-02-12  21131654
2025-02-13   8511216
2025-02-14  10298145

[773 rows x 6 columns]

pandas.core.frame.DataFrame

In [37]:
calculate_LR(data)

,Open,High,Low,Close,Adj Close,Volume,STD,+1STD,-1STD,+2STD,-2STD
Date,,,,,,,,,,,
2022-01-03,1091.447144,1111.268555,1090.777954,1109.376343,1086.997681,5421611,102.613139,1194.568860,989.342581,1297.182000,886.729442
2022-01-04,1114.937500,1135.751099,1109.445557,1134.412720,1111.529175,10847728,102.613139,1194.849237,989.622958,1297.462376,887.009818
2022-01-05,1136.212646,1143.135132,1122.806030,1139.719971,1116.729492,11643813,102.613139,1195.129613,989.903334,1297.742753,887.290195
2022-01-06,1131.228394,1132.520630,1111.753052,1115.214355,1092.718018,14447422,102.613139,1195.409989,990.183710,1298.023129,887.570571
2022-01-07,1121.883057,1134.389648,1112.929932,1124.213623,1101.535767,13112115,102.613139,1195.690366,990.464087,1298.303505,887.850947
...,...,...,...,...,...,...,...,...,...,...,...
2025-02-10,1264.500000,1266.500000,1245.550049,1253.650024,1253.650024,6970972,102.613139,1512.515732,1307.289453,1615.128871,1204.676313
2025-02-11,1264.550049,1264.550049,1230.099976,1234.849976,1234.849976,8859714,102.613139,1512.796108,1307.569829,1615.409247,1204.956690
2025-02-12,1219.449951,1226.900024,1193.349976,1216.550049,1216.550049,21131654,102.613139,1513.076484,1307.850205,1615.689624,1205.237066
2025-02-13,1217.050049,1228.000000,1212.000000,1216.099976,1216.099976,8511216,102.613139,1513.356861,1308.130582,1615.970000,1205.517442
2025-02-14,1219.000000,1224.000000,1205.449951,1217.250000,1217.250000,10298145,102.613139,1513.637237,1308.410958,1616.250377,1205.797819

In [38]:
calculate_rsi(data)
data

,Open,High,Low,Close,Adj Close,Volume,STD,+1STD,-1STD,+2STD,-2STD,RSI
Date,,,,,,,,,,,,
2022-01-03,1091.447144,1111.268555,1090.777954,1109.376343,1086.997681,5421611,102.613139,1194.568860,989.342581,1297.182000,886.729442,NaN
2022-01-04,1114.937500,1135.751099,1109.445557,1134.412720,1111.529175,10847728,102.613139,1194.849237,989.622958,1297.462376,887.009818,100.000000
2022-01-05,1136.212646,1143.135132,1122.806030,1139.719971,1116.729492,11643813,102.613139,1195.129613,989.903334,1297.742753,887.290195,100.000000
2022-01-06,1131.228394,1132.520630,1111.753052,1115.214355,1092.718018,14447422,102.613139,1195.409989,990.183710,1298.023129,887.570571,55.321872
2022-01-07,1121.883057,1134.389648,1112.929932,1124.213623,1101.535767,13112115,102.613139,1195.690366,990.464087,1298.303505,887.850947,61.619128
...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-10,1264.500000,1266.500000,1245.550049,1253.650024,1253.650024,6970972,102.613139,1512.515732,1307.289453,1615.128871,1204.676313,43.495159
2025-02-11,1264.550049,1264.550049,1230.099976,1234.849976,1234.849976,8859714,102.613139,1512.796108,1307.569829,1615.409247,1204.956690,42.241370
2025-02-12,1219.449951,1226.900024,1193.349976,1216.550049,1216.550049,21131654,102.613139,1513.076484,1307.850205,1615.689624,1205.237066,42.026269
2025-02-13,1217.050049,1228.000000,1212.000000,1216.099976,1216.099976,8511216,102.613139,1513.356861,1308.130582,1615.970000,1205.517442,46.104088
2025-02-14,1219.000000,1224.000000,1205.449951,1217.250000,1217.250000,10298145,102.613139,1513.637237,1308.410958,1616.250377,1205.797819,44.838994

In [39]:
cummulative_returns(data)
data

,Open,High,Low,Close,Adj Close,Volume,STD,+1STD,-1STD,+2STD,-2STD,RSI,d_rtn,cum_rtn
Date,,,,,,,,,,,,,,
2022-01-03,1091.447144,1111.268555,1090.777954,1109.376343,1086.997681,5421611,102.613139,1194.568860,989.342581,1297.182000,886.729442,NaN,NaN,NaN
2022-01-04,1114.937500,1135.751099,1109.445557,1134.412720,1111.529175,10847728,102.613139,1194.849237,989.622958,1297.462376,887.009818,100.000000,0.022568,1.022568
2022-01-05,1136.212646,1143.135132,1122.806030,1139.719971,1116.729492,11643813,102.613139,1195.129613,989.903334,1297.742753,887.290195,100.000000,0.004678,1.027352
2022-01-06,1131.228394,1132.520630,1111.753052,1115.214355,1092.718018,14447422,102.613139,1195.409989,990.183710,1298.023129,887.570571,55.321872,-0.021501,1.005262
2022-01-07,1121.883057,1134.389648,1112.929932,1124.213623,1101.535767,13112115,102.613139,1195.690366,990.464087,1298.303505,887.850947,61.619128,0.008070,1.013374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-10,1264.500000,1266.500000,1245.550049,1253.650024,1253.650024,6970972,102.613139,1512.515732,1307.289453,1615.128871,1204.676313,43.495159,-0.010302,1.130049
2025-02-11,1264.550049,1264.550049,1230.099976,1234.849976,1234.849976,8859714,102.613139,1512.796108,1307.569829,1615.409247,1204.956690,42.241370,-0.014996,1.113103
2025-02-12,1219.449951,1226.900024,1193.349976,1216.550049,1216.550049,21131654,102.613139,1513.076484,1307.850205,1615.689624,1205.237066,42.026269,-0.014820,1.096607
2025-02-13,1217.050049,1228.000000,1212.000000,1216.099976,1216.099976,8511216,102.613139,1513.356861,1308.130582,1615.970000,1205.517442,46.104088,-0.000370,1.096201
2025-02-14,1219.000000,1224.000000,1205.449951,1217.250000,1217.250000,10298145,102.613139,1513.637237,1308.410958,1616.250377,1205.797819,44.838994,0.000946,1.097238

In [40]:
ta['d_rtn']+1).cumprod()
    data

SyntaxError: invalid syntax (723569122.py, line 3)

In [ ]:
data['Close'].resample('W').ffill().pct_chnage()

In [ ]:
data['Close'].resample('W').ffill().pct_change()